{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% if request.user == comment.author %}






            {% else %}

            <div class="container-fluid my-4">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center pt-3">
            
                        <h3 class="mb-3">Sorry buddy, you are not allowed to access this page.</h3>
                        
                    </div>
                </div>
            </div>
            

            {% endif %}

{% endblock %}