{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Render when user is authenticated -->
{% if user.is_authenticated %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'add_post' %}" class="btn btn-secondary btn-lg">Post</a>
        </div>
    </div>
</div>
</br>
{% endif %}
<!-- Display all post -->
    {% for post in post_list %}
        <!-- Display post information-->
            <div class="card h-100">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug %}" class="link-color-blue text-decoration-none">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="text-muted mb-0">by {{ post.author }}</p>
                    {{ post.content | safe }}
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-secondary">Comment</a>
                   
                    <div class="row">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        <!-- The number of likes goes before the closing strong tag -->
                        <span class="">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated on {{ post.last_updated }}</small>
                    <!-- Show Edit and Delete buttons on posts created by the user -->
                    {% if request.user == post.author %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn--main btn--icon mx-1" href="{% url 'edit_post' post.id %}"
                            aria-label="Edit post"><i class="fas fa-edit"></i></a>
                        <a class="btn btn--secondary btn--icon mx-1" href="{% url 'delete_post' post.id %}"
                            aria-label="Delete post"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
    {% endfor %}
<!-- Site Pagination -->
{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}