{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Render when user is authenticated -->
{% if user.is_authenticated %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">

                <form action="{% url 'add_post' %}" method="GET" class="text-center mb-0">
                    {% csrf_token%}
                    <button type="submit" class="btn btn--main no-border">
                    Post <i class="fas fa-plus p-1"></i></button>
                </form>

        </div>
    </div>
</div>
{% endif %}

<!-- Display all post -->
<div class="container-fluid mt-4">

    {% for post in post_list %}
    <div class="row mb-3">


        <!-- Display post information-->
        <div class="col-10 col-md-6 col-s-2">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{% url 'post_detail' post.slug %}" class="link-color-blue text-decoration-none">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="text-muted mb-0">by {{ post.author }}</p>
                </div>
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-secondary">Comment</a>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">Last updated on {{ post.last_updated }}</small>
                    <!-- Show Edit and Delete buttons on posts created by the user -->
                    {% if request.user == post.author %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn--main btn--icon mx-1" href="{% url 'edit_post' post.id %}"
                            aria-label="Edit post"><i class="fas fa-edit"></i></a>
                        <a class="btn btn--secondary btn--icon mx-1" href="{% url 'delete_post' post.id %}"
                            aria-label="Delete post"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    {% endfor %}

</div>

<!-- Site Pagination -->
{% if is_paginated %}
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}