{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="postdetail">    

<div class="card mb-3">
    <div class="card-body">
        <h2>{{ post.author }}<h2>
    </div>
    <p class="card-text"><small class="text-body-secondary">{{ post.created_on }}</small></p>
    {% if "placeholder" in post.featured_image.url %}
    {% else %}
    <img class="imagepost" src=" {{ post.featured_image.url }}" >
    {% endif %}

    <div >
        <p class="card-text ">
            {{ post.content | safe }}
        </p>
        <div class="row">
    
            <div class="inline">
                <!-- The number of likes goes before the closing strong tag -->
                <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    <!-- Our total_comments variable goes before the closing strong tag -->
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-12">
    
                <form action="{% url 'add_comment' post.id %}" method="GET" class="text-center m-0">
                    {% csrf_token %}
                    <a href="{% url 'add_comment' post.id %}" class="btn btn-secondary">Comment</a>
                </form>
    
            </div>
        </div>
    </div>
    {% endif %}

    <div class=" card mb-6  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}
                <a class="btn btn--primary btn--icon mx-1" href="{% url 'delete_comment' comment.id %}"
                aria-label="Delete comment"><i class="fas fa-trash-alt"></i></a>
                <a class="btn btn--primary btn--icon mx-1" href="{% url 'edit_comment' comment.id  %}"
                aria-label="edit post"><i class="fas fa-edit"></i></a>
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    
</div>

{% endblock content %}